# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.swiftpm
.DS_Store

# Build
.build/
DerivedData/
Generated/

# Firebase
GoogleService-Info.plist
GoogleService-Info-*.plist

# Dependencies
Pods/
Carthage/Build
