# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.swiftpm
.DS_Store

# Build
.build/
DerivedData/
Generated/

# Firebase
GoogleService-Info.plist
GoogleService-Info-*.plist
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log

# Dependencies
Pods/
Carthage/Build
